__pycache__
training_files/target_training_datasets/*
result_files/experiments/*
trained_models/*
wandb
wander.ipynb
prediction_files/*
models.txt
.vscode
data
final_runlar_notlar.txt
POTENTIAL_ISSUES.md
training_files/admet_group
training_files/admet_group.zip
saved_models