################################# python 3.11
pandas
opencv-python
torch
scikit-learn
cairosvg
transformers
chemprop
matplotlib
git+https://github.com/KellerJordan/Muon
wandb
aiohttp
asyncio
scipy
rdkit